.mantd-input,
.mantd-input-affix-wrapper {
  width: 100%;
  font-family: $input-font-family;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  border-width: $input-border-width;
  border-style: solid;
  outline: none;
  transition: $input-transition;
  
  @include input-size(
    $input-padding-x,
    $input-padding-y,
    $input-font-size,
    $input-border-radius
  );

  @include input-style(
    $input-color,
    $input-border-color,
    $input-bg,
    $input-box-shadow
  );

  &.is-disabled {
    cursor: not-allowed;
    @include input-style(
      $input-color,
      $input-disabled-border-color,
      $input-disabled-bg,
      $input-box-shadow
    );
    &:hover {
      @include input-style(
        $input-color,
        $input-disabled-border-color,
        $input-disabled-bg,
        $input-box-shadow
      );
    }
  }

  &:hover {
    @include input-style(
      $input-hover-color,
      $input-hover-border-color,
      $input-hover-bg,
      $input-box-shadow
    );
  }
}

.mantd-input {

  &.input-size-lg {
    @include input-size(
      $input-padding-x-lg,
      $input-padding-y-lg,
      $input-font-size-lg,
      $input-border-radius-lg, 
    )
  }

  &.input-size-sm {
    @include input-size(
      $input-padding-x-sm,
      $input-padding-y-sm,
      $input-font-size-sm,
      $input-border-radius-sm, 
    )
  }

  &:focus {
    @include input-style(
      $input-focus-color,
      $input-focus-border-color,
      $input-focus-bg,
      $input-focus-box-shadow
    );
  }
}

.mantd-input-affix-wrapper {
  display: inline-flex;
  width: 100%;
  border-style: solid;
  border-width: $input-border-width;

  .mantd-input {
    border: none;
    padding: 0;
    &:focus {
      box-shadow: none;
    }
  }

  .mantd-input-prefix,
  .mantd-input-suffix {
    display: inline-block;
    height: 100%;
  }

  .mantd-input-prefix {
    margin-right: 5px;
  }

  .mantd-input-suffix {
    margin-left: 5px;
    &.clear {
      cursor: pointer;
    }
  }

  &.affix-wrapper-lg {
    @include input-size(
      $input-padding-x-lg,
      $input-padding-y-lg,
      $input-font-size-lg,
      $input-border-radius-lg, 
    )
  }

  &.affix-wrapper-sm {
    @include input-size(
      $input-padding-x-sm,
      $input-padding-y-sm,
      $input-font-size-sm,
      $input-border-radius-sm, 
    )
  }

  &.affix-wrapper-focused {
    @include input-style(
      $input-focus-color,
      $input-focus-border-color,
      $input-focus-bg,
      $input-focus-box-shadow
    );
  }
}

.mantd-input-group-wrapper {
  display: inline-block;
  width: 100%;

  .mantd-input-group {
    width: 100%;
    display: flex;
    align-items: stretch;

    .mantd-input {
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
      &:first-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      &:last-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }

    .mantd-input-group-addon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      box-sizing: border-box;
      border-radius: $input-border-radius;
      border: 1px solid $input-border-color;
      &:first-child {
        border-right: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      &:last-child {
        border-left: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }

    // 搜索按钮样式
    .btn {
      margin-left: -1px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

  }

  &.input-group-wrapper-sm {
    .mantd-input-group-addon {
      font-size: $input-font-size-sm,
    }
  }

  &.input-group-wrapper-lg {
    .mantd-input-group-addon {
      font-size: $input-font-size-lg,
    }
  }
}