.btn {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  @include button-size(
    $btn-padding-x,
    $btn-padding-y,
    $btn-font-size,
    $btn-border-radius
  );
  // box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;
  overflow: hidden;

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }

  &:focus {
    outline: none;
  }

  &.ripple {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: radial-gradient(circle, #ccc 10%, transparent 10%);
      transform: scale(12);
      opacity: 0;
      transition: all .6s;
    }
  
    &:active::after {
      transform: scale(0);
      opacity: 1;
      transition: all 0s;
    }
  }
}

.btn-lg {
  @include button-size(
    $btn-padding-x-lg,
    $btn-padding-y-lg,
    $btn-font-size-lg,
    $btn-border-radius-lg
  );
}

.btn-sm {
  @include button-size(
    $btn-padding-x-sm,
    $btn-padding-y-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm
  );
}

.btn-primary {
  @include button-style($primary, $primary, $white);
}

.btn-danger {
  @include button-style($danger, $danger, $white);
}

.btn-default {
  @include button-style(
    $white,
    $gray-400,
    $body-color,
    $white,
    $primary,
    $primary
  );
  &:focus {
    outline-color: $primary;
  }
}

.btn-link {
  font-weight: $font-weight-normal;
  color: $btn-link-color;
  text-decoration: $link-decoration;
  box-shadow: none;
  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &.focus,
  &:focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &.disabled,
  &:disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
}
